<div class="background">
   <br />
  <div class="booyah-box col-10 offset-1">
    <br />
    <h1 class="text-center" id='about-header'>About Chess Space</h1>
    <br />
    <p class="col-8 offset-2 text-center">
      Chess Space is a fully functional chess application created by Team Awesome! for <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project's</a> full-stack development curriculum by these Awesome! developers:
    </p>
    <br />

    <div class="row feature">
      <div class="col-12 col-sm">
        <%= image_tag 'miked.png', class: 'img-fluid about-image' %>
        <br />
        <p class="about-names">Mike Dunnett-Stone</p>
        <p>
        Mike is the founder of <%= link_to 'Seed Music', 'www.seedmusic.co.uk' %>, a social enterprise that provides music practice rooms for offices. Previously, he was a senior strategy consultant and holds a starred 1st in Politics, Philosophy and Economics (PPE). He can often be found floundering at the piano.</p>
        <div class="text-center">
          <%= link_to 'https://github.com/mdunnettstone' do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.facebook.com/mike.dunnettstone' do %>
          <span class="fa fa-facebook-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/mdunnettstone/' do %>
          <span class="fa fa-linkedin-square fa-2x social-button"></span>
          <% end %>
        </div>
        <br />
        <br />
      </div>

      <div class="col-12 col-sm">
        <%= image_tag 'denise.jpg', class: 'img-fluid about-image' %>
        <br />
        <p class="about-names">Denise Kelsey</p>
        <p>
        Denise is an aspiring web developer with an emphasis on Ruby on Rails. With a Bachelor of Arts degree in Business Administration, most of her career has focused on accounting and financial anaylsis. Denise describes herself as an itinerant adventurer, world traveler, tree hugger and all around superb human being. </p>
        <div class="text-center">
          <%= link_to 'http://github.com/denisekelsey' do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.facebook.com/denise.kelsey' do %>
          <span class="fa fa-facebook-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/denise-kelsey-91288354/' do %>
          <span class="fa fa-linkedin-square fa-2x social-button"></span>
          <% end %>
        </div>
        <br />
        <br />
      </div>

      <div class="col-12 col-sm">
        <%= image_tag 'Tristen.jpg', class: 'img-fluid about-image' %>
        <br />
        <p class="about-names">Tristen Scheitle</p>
        <p>
        Tristen is a teacher-turned-techie with a passion for the intentional use of technology in education. Her dream is to build meaningful experiential learning tools for students, and systems to assist teachers in their practice and help them better prepare young populations for responsible digital citizenship. Educational technology allows an infinite number of learning experiences to be accessible for those students who may not have access otherwise. She also loves her cat and naps on the beach. </p>
        <div class="text-center">
          <%= link_to 'http://github.com/tscheitle' do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'www.linkedin.com/in/tristen-scheitle-5046b9120/' do %>
          <span class="fa fa-linkedin-square fa-2x social-button"></span>
          <% end %>
        </div>
        <br />
        <br />
      </div>

      <div class="col-12 col-sm">
        <%= image_tag 'monicaS.jpg', class: 'img-fluid about-image' %>
        <br />
        <p class="about-names">Monica Sirathanarun</p>
        <p>
        Software developer with an interest in backend logic and infrastructure. Interested in how two logical human beings can end up holding opposite beliefs. Excited about progress, discovery, and being a part of it. </p>
        <div class="text-center">
          <%= link_to 'http://github.com/bellvat' do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/monica-sirathanarun-a530688b/' do %>
          <span class="fa fa-linkedin-square fa-2x social-button"></span>
          <% end %>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>

  <div class="booyah-box col-10 offset-1 tools">
    <h5 class="text-center about-tools">Chess Space was built utilizing the following languages and tools: </h5>
    <br />
    <div class="icons">
      <%= image_tag 'github.png', class: 'icon' %>
      <%= image_tag 'rubocop.png', class: 'icon' %>
      <%= image_tag 'trello.png', class: 'icon' %>
      <%= image_tag 'slack.png', class: 'icon' %>
      <%= image_tag 'codeship.png', class: 'icon' %>

      <br class="clr" />
      <%= image_tag 'skills.png', class: 'icon' %>
    </div>
       <br />
  </div>

  <br />
</div>
