<div class="background">
  <div class="text-center"><%= link_to "Create a New Game", new_game_path, class: "btn btn-newgame" %></div>

  <div class = "container">
   <!-- UNMATCHED GAMES -->
   <div class="section">
      <h1 class="text-center">Join A Match</h1>
        <div class="row matches" >
          <% if @unmatched_games.any? %>
            <% @unmatched_games.each do |game| %>
              <div class="indexgame">
                <h4><%= "Game No. #{game.id}" %></h4>
                  <% if game.white_player_user_id.blank? %>
                    <%= simple_form_for game, url: join_game_path(game) do |f| %>
                      <%= f.input :white_player_user_id, as: :hidden, :input_html => { :value => current_user.id } %>
                      <%= f.input :turn_user_id, as: :hidden, :input_html => { :value => current_user.id } %>
                      <%= f.submit "Join as white player", class: "float right btn btn-secondary" %>
                    <% end %>
                    <% if current_user.id == game.black_player_user_id %>
                      <%= link_to "Delete", game_path(game), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure you want to delete this game?"} %>
                    <% end %>
                  <% else %>
                    <%= simple_form_for game, url: join_game_path(game) do |f| %>
                      <%= f.input :black_player_user_id, as: :hidden, :input_html => { :value => current_user.id } %>
                      <%= f.submit "Join as black player", class: "btn btn-inverse" %>
                    <% end %>
                    <% if current_user.id == game.white_player_user_id %>
                      <%= link_to "Delete", game_path(game), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure you want to delete this game?"} %>
                    <% end %>
                  <% end %>
              </div>
            <% end %>
          <%else%>
            <h3 class="text-center">No games to join :(</h3>
          <%end%>
      </div>
    </div>


  <!-- STARTED GAMES -->
  <div class="section">
    <h1 class="text-center">Your Unfinished Matches</h1>
      <div class="row matches" >
        <% if @started_games.any? %>
          <% @started_games.each do |game| %>
            <div class="indexgame">
              <h4><%= "Game No. #{game.id}" %></h4>
              
              <% if current_user && (current_user.id == game.white_player_user_id || current_user.id == game.black_player_user_id) %>
                <% if game.turn_user_id == current_user.id %>
                  <%= link_to 'Your Turn!', game_path(game, id: game.id), :class => 'btn btn-success btn-large join-game-link' %>
                <% else %>
                  <%= link_to "Your Opponent's Turn", game_path(game, id: game.id), :class => 'btn btn-info btn-large join-game-link' %>
                <% end %>
              <% else %>
                <%= link_to 'Watch Game', game_path(game, id: game.id), :class => 'btn btn-success btn-large join-game-link' %>
              <% end %>
              <%= link_to "Delete", game_path(game), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure you want to delete this game?"} %>
            </div>

          <% end %>
        <% else %>
          <h3 class="text-center">No games in play :(</h3>
        <% end %>
      </div>
  </div>

  <!-- COMPLETED GAMES -->
  <div class="section">
    <h1 class="text-center">Completed Matches</h1>
      <div class="row matches" >
        <% if @completed_games.any? %>
          <% @completed_games.each do |game| %>
            <div class="indexgame">
              <% if game.winner_user_id.present? && game.loser_user_id.present? %>
                <h5><%= game.winner.email %> won the game against <%= game.loser.email %></h5>
              <% else %>
                <% if game.white_player_user_id.present? && game.black_player_user_id.present? %>
                  <h5>Stalemate between <%= game.white_player.email %> and <%= game.black_player.email %></h5>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <h3>No completed games :(</h3>
        <% end %>
      </div>
  </div>
  </div>
</div>
