<!--
<h1>This is the game page</h1>
<h5>These are the current users</h5>
<% @game.users.each do |user| %>
  <%= user.email %>
<% end %>
<h5>These are the game details</h5>
<p><%= @game.inspect %></p>

<h5>These are the pieces and positions</h5>
<% @game.game_pieces.each do |game_piece| %>
  <%= "#{game_piece.piece.name}: (#{game_piece.x_coord}, #{game_piece.y_coord})" %>
<% end %>

<% if @game.users.count == 2 %>
  <p>White player: <%= @game.white_player.email %>. Black player: <%= @game.black_player.email %>.</p>

  <h5>These are the pieces and positions</h5>
<% @game.game_pieces.each do |game_piece| %>
  <%= "#{game_piece.piece.name}: (#{game_piece.x_coord}, #{game_piece.y_coord})" %>

<% end %> 
-->
<div class="row">
<div class="board col-4-sm col-8 offset-2">
  <table>
    <tbody>
      <% (1..8).each do |y_coord| %>
        <tr id = <%= y_coord %>>
          <% (1..8).each do |x_coord| %>
              <%if y_coord % 2 == x_coord % 2 %>
                <td id = <%= "(#{x_coord},#{y_coord})" %> class = "droppable-square white" >
              <% else %>
                <td id = <%= "(#{x_coord},#{y_coord})" %> class = "droppable-square black" >
              <% end %>
              <% if @game.game_pieces.where("(x_coord = ? AND y_coord = ?)", x_coord, y_coord).present? %>
                <span class = "selectable-piece" id = "<%= @game.game_pieces.where("(x_coord = ? AND y_coord = ?)", x_coord, y_coord).first.piece.name %>"><%= @game.game_pieces.where("(x_coord = ? AND y_coord = ?)", x_coord, y_coord).first.piece.name %></span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
</table>
</div>

  <script>
    $( function() {
      $( ".selectable-piece" ).draggable({
        cancel: "a.ui-icon", // clicking an icon won't initiate dragging
        revert: "invalid", // when not dropped, the item will revert back to its initial position
        containment: "document",
        helper: "clone",
        cursor: "move"
      });
      $( ".droppable-square").droppable({
        accept: ".selectable-piece",
        classes: {
          "ui-droppable-active": "ui-state-active",
          "ui-droppable-hover": "ui-state-hover"
        },
        drop: function( event, ui ) {
          console.log(ui.draggable.attr('id') + " moved to " + this.id);

          $(this).append($(ui.draggable));
        }
      });
    } );
  </script>

<div>
  <%= simple_form_for @game, url: forfeit_game_path(@game) do |f| %>
    <% if current_user.id == @game.white_player %>
      <%= f.input :winner_user_id, as: :hidden, :input_html => { :value => @game.black_player.id } %>
    <% else %>
      <%= f.input :winner_user_id, as: :hidden, :input_html => { :value => @game.white_player.id } %>
    <% end %>
    <%= f.submit "Forfeit", class: "btn btn-danger" %>
  <% end %>
</div>  
</div>
<% end %>
<br />
