<script>
    $( function() {
      //Ultimately, we'll have to assign droppable square based on piece rules and position of other pieces
      $("td").addClass("droppable-square");
      $( ".selectable-piece" ).draggable({
        cancel: "a.ui-icon", // clicking an icon won't initiate dragging
        revert: "invalid",
        containment: "document",
        snap: ".document td",
        snapTolerance: 20,
        helper: "clone",
        cursor: "move"
      });
      $( ".droppable-square").droppable({
        accept: ".selectable-piece",
        tolerance: "pointer",
        classes: {
          "ui-droppable-active": "ui-state-active",
          "ui-droppable-hover": "ui-state-hover"
        },

        drop: function( event, ui ) {
          console.log(ui.draggable.attr('id') + " moved to " + $(this).data("x-coord") + ", " + $(this).data("y-coord"));
          const $newDroppableSquare = $(this)
            $.ajax({
            beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            type: "PATCH",
            dataType: 'text',
            url: "/pieces/" + ui.draggable.attr('id'),
            data: {
              piece: {
                x_coord: $(this).data("x-coord"),
                y_coord: $(this).data("y-coord")
              },
            },
            error:  function(){
            },
            success: function(){
              $newDroppableSquare.append($(ui.draggable));
            }
          });
      }
    });

    });
</script>

<div class="background">
  <div class="row">
    <div class="column">
      <div class="booyah-box chatbox">
        <p> Possible chat box goes here </p>
      </div>
      <div class="booyah-box move-history">
        <p> Possible list of last X moves </p>
      </div>
  </div>

<% if check?(x_coord, y_coord) %>
   <p class="alert alert-danger"> You are in check! </p>
<% end %>

  <div class="board">
    <table>
      <tbody>
        <% (1..8).each do |y_coord| %>
          <tr id = <%= y_coord %>>
            <% (1..8).each do |x_coord| %>
              <td data-x-coord = <%= x_coord %> data-y-coord = <%= y_coord %> class = <%= "#{(y_coord % 2 == x_coord % 2 ? "white-square droppable-square" : "black-square droppable-square")}" %> >
              <% if gamepiece = @pieces.where("(x_coord = ? AND y_coord = ?)", x_coord, y_coord).first %>
                 <span><%= image_tag gamepiece.image, class: "#{gamepiece.name} selectable-piece", id: gamepiece.id %></span>
              <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="row">
    <div class="column">
      <div class="booyah-box captured-pieces">
        <div class="booyah-box white_captured_pieces">
          <span id="white_captured">
            <h5>White Captured Pieces</h5>
            <% @game.pieces.where(captured: true, white: true).each do |piece| %>
              <%= image_tag piece.image, :class => "piece_cap" %>
            <% end %>
          </span>
        </div>
        <br />
        <div class="booyah-box black_captured_pieces">
          <span id="black_captured">
            <h5>Black Captured Pieces</h5>
            <% @game.pieces.where(captured: true, white: false).each do |piece| %>
              <%= image_tag piece.image, :class => "piece_cap" %>
            <% end %>
          </span>
        </div>
      </div>
      <% if @game.users.count > 1 %>
        <%= simple_form_for @game, url: forfeit_game_path(@game) do |f| %>
          <% if current_user.id == @game.white_player %>
            <%= f.input :winner_user_id, as: :hidden, :input_html => { :value => @game.black_player.id } %>
          <% else %>
            <%= f.input :winner_user_id, as: :hidden, :input_html => { :value => @game.white_player.id } %>
          <% end %>
          <span class="float-right"><%= f.submit "Forfeit", class: "btn btn-danger btn-lg" %></span>
        <% end %>
      <% end %>
