<!DOCTYPE html>
<html>
  <head>
    <title>TeamawesomeChessapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">

  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= link_to 'Chess Space', root_path, class: 'navbar-brand' %>
          <br class="clr" />
        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
          <ul class="navbar-nav mt-2 mt-md-0">
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item" id="lastlink">
                  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
                </li>
                <li class="nav-item" id="lastlink">
                  <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
           </ul>
        </div>
      </nav>

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <div id="footer">
      <div class="container">
        <ul class="float-right">
          <li class="nav-item">
            <%= link_to 'About', about_path, class: 'nav-link' %>
          </li>
        <ul>
      </div>
    </div>
  </body>
</html>
